.navba{
    background-color:cornflowerblue;
    width: 100%;
    height: 50px;
    border: 2px solid black;

}

.fon1{
    float: left;
    margin: 10px;
    font-size: 19.7px;
    color:gold;
    cursor: pointer;
}

.navba ul{
    margin: 0;
    padding: o;
    list-style: none;
    line-height: 50px;
}

.navba ul li{
    float: right;
    text-decoration:none;
    width: 130px;
    text-align: center;
    padding: 0px 16px;
    color: white;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 0.5px;
    cursor: pointer;
} 


.navba li:hover{
    color: black;
    /* opacity: 100%;
    font-size: 24px; */

}

.fom2{
    float:right;
    color: transparent;
    display: flex;
    padding: 7px;
    /* border: 1px solid wheat; */
    /* border-radius: 10px; */
  }


.searchbox{
    margin-top: 9px;
    float: left;
    margin-left: 100px;
    
}

.in[type=text]{
    border: none;
    margin: 0;
    padding: 7px 8px;
    font-size: 15px;
    border: 1px solid transparent;
    border-radius: inherit;
    width: 300px;
}

.btn2{
    overflow: hidden;
    width: 50px;
    padding: 0;
    margin: 0;
    border: 1px solid transparent;
    border-radius: inherit;
    /* background: whitesmoke;  */
    cursor: pointer;
    opacity: 0.7;
    
}

.drop1{
    float: right;
    position: relative;
    /* display: inline-block; */
}

.drop2{
    /* background-color: #04AA6D; */
    /* color: white; */
    /* padding: 16px;
    font-size: 8px; */
    border: none;
}

.drop3{
    padding-top: 30px;
    padding-left: 50px;
    display: none;
    position: fixed;

    /* min-width: 0px; */
    /* box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); */
    /* z-index: 1; */
}

.drop3 p{
    color: black;
    padding: 2px 4px;
    text-decoration: none;
    display: block;
    font-size: 12px;
    font-weight: bold;
}

.drop3 p:hover{
    background-color: gray;
}

.drop1:hover .drop3{
    display: block;
}

.drop1:hover .drop2{
    background-color: cornflowerblue;
}

/* .last{
    background-color: black;
    width:100%;
    height: 300px;
} */